.header {
  border-bottom: 1px solid var(--color-gray-bottom);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;

    @media screen and (min-width: 1024px) {
      padding: 12px;
    }
  }
  &__call {
    display: flex;
    width: 32px;
    height: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--green-default);
    border-radius: 50%;
  }
}
.burger {
  padding: 0;
  border: none;
  margin: 0;
  background: 0 0;
  cursor: pointer;
  outline: none;
  position: relative;
  width: 32px;
  height: 32px;
  transition-duration: 1s;
}
.burger span {
  position: absolute;
  left: 4px;
  width: 24px;
  height: 2px;
  background-color: var(--gray-line);
  border-radius: 20px;
  transition-delay: .25s;
  transition-duration: .25s;
}
.burger span::before {
    position: absolute;
    top: -6px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: var(--gray-line);
    border-radius: 20px;
    content: "";
    transition: transform .25s, top .25s .25s;
    transition-duration: .25s;
}
.burger span::after {
    position: absolute;
    top: 6px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: var(--gray-line);
    border-radius: 20px;
    content: "";
    transition: transform .25s, top .25s .25s;
    transition-duration: .25s;
}

.burger.active span {
  background: rgba(0, 0, 0, 0);
  transition-delay: .25s;
  transition-duration: .1s;
}

.burger.active span::before {
  top: 0;
  transform: rotateZ(-45deg);
  transition: top .25s, transform .25s .25s;
}

.burger.active span::after {
  top: 0;
  transform: rotateZ(45deg);
  transition: top .4s, transform .25s .25s;
}