.footer {
  padding: 60px 0;
  border-radius: 32px 32px 0 0;
  background-color: var(--dark-footer);
  color: var(--color-white);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__navbar-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__navbar-item:not(:last-child) {
      margin-bottom: 12px;
  }
  &__navbar-link {
    position: relative;
    transition: color .3s ease-in-out;
  }
  &__navbar-link:hover {
    color: var(--green-default);
    text-decoration: underline;
  }
  &__rating {
    margin-bottom: 24px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 32px;
  }
  &__social {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
  }
  &__email {
    text-decoration: underline;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
    border-top: 1px solid var(--gray-line);
  }
  &__documents {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
    color: var(--gray-disabled);
  }
  &__creator {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  &__requisites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 12px;
    color: var(--gray-disabled);
  }
  &__phone {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }
}